.title{
    text-align: center;
}

.subtitle{
    text-align:left;
}
.profileWindow{
    color:white;
    text-shadow: black;
    text-align: center;
    border-style: solid;
    border-color: #007BFF;
    border-radius: 20px;
    background-color: #007BFF;
    float: right;
}
.profileInfo{
    margin: 10;
}
.picture{
    position: center;
    margin:"0.5% 10%";
}